* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: "Golos Text";
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    margin: 30px;
    border: 1px black solid;
    border-radius: 12px;
}

.register-container{
    padding-bottom: 210px;

}

.main{
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 100%;
}

.button-container-main{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    border-bottom: 2px black solid;
    padding-bottom: 20px;
    color: black;
}

.button-container-main a{
    color: black;
}

.header{
    display: flex;
    align-items: start;
}

h1{
    color: rgb(146, 146, 146);
    
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px black solid;

}

.content-data label{
    color: #b80000;
    font-weight: 600;
}

.content-radio{
    display: flex;
    gap: 25px;
}

.content-button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.content-name{
    display: flex;
    padding: 20px 0px;
    border-top: 2px black solid;
}

.content-op{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}


.content-one{
    display: flex;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.content-two{
    display: flex;
    align-items: center;
    gap: 35px;
}

.content-data input{
    margin-right: 100px;
    
}

.content-data label{
    padding-left: 10px;
    padding-right: 10px;
}

.content input{

    border-bottom: 1px rgb(46, 46, 46) solid;
    padding: 10px;
}


.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.button {
    background-color: #7e7e7ea4;
    color: #000000;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: inline-block;
}

.button-input{
    border-radius: 12px;
    border: 1px black solid;
    background-color: #e9e9e9;
}

.notification {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-top: 10px;
    display: none; /* Сначала уведомление скрыто */
}